.container {
  display: grid;
  grid-template-rows: 40px 40px 50px;
}

.label {
  font-size: large;
  font-weight: bold;
}

.label::after {
  content: ":";
  margin-right: 6px;
  margin-left: 2px;
}

.button {
  justify-self: center;
  align-self: end;
  width: 30%;
}
