.container {
  width: 400px;
  height: 250px;
  border: 1px solid #555;
  padding: 3px;
  margin: 5px;
}

.title {
  font-size: 1.6rem;
  border-bottom: 1px solid #555;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 5px;
  margin: 0;
}
